<style>
        h1{
            color: darkgrey; font-size: 3cm;
        }
        h2{
            color: grey;
        }
        h3{
            color: lightgrey;
        }
        p{
            color: black;
        }
        body{
            background-color: white;
        }
</style>